.container-new {
  width: 100%;
  /* background-color: yellow; */
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  flex: 90%;
  /* background-color: yellow; */
  margin-left: 40px;
}

.authContainer {
  /* background-color: antiquewhite; */
  flex: 10%;
  margin-right: 20px;
}

a {
  color: white;
  margin-right: 20px;
  scroll-behavior: smooth;
}

a:hover {
  color: brown;
}
