.container-new {
  width: 100%;
  /* background-color: yellow; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1000;
  position: fixed;
  background-image: url("https://html.dynamiclayers.net/it/alison/img/hero-background.jpg");
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar {
  margin: 50px 140px;
  /* background-color: red; */
  flex: 0%;
}

a {
  color: #fff;
  margin-right: 40px;
  font-size: larger;
  /* scroll-behavior: smooth; */
}

a:hover {
  color: brown;
}

.logoContainer {
  /* background-color: black; */
  flex: 30%;
  margin-left: 70px;
  height: 10px;
  align-self: flex-start;
}

.items {
  text-decoration: none;
}
