.container {
  margin: 20px;
  padding: 40px;
  background-color: aquamarine;
  border-radius: 20px;
  box-shadow: 4px 4px 4px 4px grey;
  color: black;
}

.style1 .style2 .style3 {
  background-color: rgb(156, 255, 181);
}

.myCards {
  width: 100%;
}
